.cart-container {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }